@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  transition: 0.2s ease;
}

.light-house-avoid-error {
  display: none;
}

.both-columns {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
}

.main-content {
  padding: 20px;
}

.left-side {
  flex-basis: 45%;
}

.left-side-header {
  display: flex;
  gap: 10px;
}

.right-side {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-basis: 40%;
}

#add-score-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5px;
}

#submit {
  width: 30%;
  align-self: flex-end;
}

#scores-table {
  border: 2px solid black;
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 4px 7px 7px rgb(103, 103, 103);
}

tr,
td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: rgb(203, 203, 203);
}

.refresh-btn {
  align-self: center;
  width: 80px;
  margin-top: 5px;
}

.btn {
  display: flex;
  text-align: center;
  align-items: center;
  height: 35px;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  padding: 8px 10px;
  width: 80px;
  border-radius: 4px;
  box-shadow: 8px 8px 8px rgb(103, 103, 103);
  border: 2px solid gray;
}

.btn:hover {
  box-shadow: 5px 5px 5px rgb(103, 103, 103);
}

.p-footer {
  text-align: center;
  padding: 12px 0;
  background-color: rgb(203, 203, 203);
  position: absolute;
  bottom: 0;
  width: 100%;
}

#user,
#score {
  border-radius: 5px;
  box-shadow: 4px 7px 7px rgb(103, 103, 103);
  padding: 5px;
}
